<h2>Add New Destination</h2>
<form method="POST" action="/countries">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="add_country">Add Country:</label>
      <input type="text" country="country" id="country"/>
    </div>

    <div class="form-el">
      <label for="add_city">Add City:</label>
      <input type="text" city="city" id="city"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Create Bucket List"/>
    </div>

  </div>
</form>
