<h1>Add a city</h1>

<form action="/cities" method="POST">


  <label for="city">City:</label>
  <input required type="text" placeholder="e.g. Miami" id="city" name="name">
  <br>
  <br>

<input type="radio" name="visited" value="t" id="t">
  <label for="t">Add to visited</label>
<input type="radio" name="visited" value="f" id="f">
  <label for="f">Add to wishlist</label>


<br>

  <button type="Submit">Submit</button>

</form>
