<h1>Edit a city here!</h1>

<h3></h3>

<form action="/countries/<%= @country.id %>" method="POST">
  <label for="name">Name:</label>
  <input type="text" name="name" value="<%= @country.name %>">

  <button type="Submit">Submit</button>

</form>
